body
{
	width: 100%;
	background-image: url("bg.png");
	margin: 0px 0px 0px 0px;
}

h1
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;
	color: #0086a2;
	font-size:xx-large;

}

p
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333333;
}

a
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #0086a2;
}

#header
{
	clear: both;
	left: 8%;
	vertical-align:middle;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	color: #0086a2;
	padding-bottom: 30px;
	padding-top: 30px;
}

#footer
{
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: rgba(255,255,255,0.5);
	vertical-align:middle;
	width: 100%;
	padding-bottom: 100px;
	padding-top: 50px;
	height: 50%;

}

#canvas
{
	background-color: #0086a2;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align:middle;
	width: 100%;
}

#doc 
{
	position: absolute;
	float: left;
	clear: both;
	text-align: justify;
	width: 40%;
	padding-left: 200px;
	height: 400px;
}

#ref
{
	position: absolute;
	float: left;
	clear: both;
	text-align: justify;
	margin-left:60%;

}

#controls
{
	vertical-align:middle;
	line-height: 50%;
}

#audio
{

}

#play
{
	font-family: "Arial, Helvetica, sans-serif"
	width: 2em;
	height: 2em;
	font-size:medium;
	color: gray;
	position: relative;
	top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

#stop
{
	font-family: "Arial, Helvetica, sans-serif"
	width: 2em;
	height: 2em;
	font-size:medium;
	color: gray;
	position: relative;
	top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}