

#header
{

}

.body
{
	width: 100%;
}

#title
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	padding-bottom: 30px;
}

#details h1
{
	font-family: 'Open Sans Condensed', sans-serif;
	float: left;
	padding-left: 50px;
}

#references h1
{
	font-family: 'Open Sans Condensed', sans-serif;
	float: left;
	padding-left: 50px;
}

#canvas
{
	background-color: black;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
}

#controls
{
	vertical-align:middle;
	line-height: 50%;
}

#audio
{

}

#play
{
	width: 2em;
	height: 2em;
	font-size:medium;
	
	position: relative;
	top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

#stop
{
	width: 2em;
	height: 2em;
	font-size:medium;
	
	position: relative;
	top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}